//____________________________________________________________________General__//
a {
    text-decoration: none;
    color: white;
}
//____________________________________________________________________Topnav__//
.topnav {
    position: fixed;
    top: 0%;
    background-color: transparent;
    height: auto;
    width: 100%;
    display: flex;
}
.topnav-left {
    width: 50%;
}
.topnav-right {
    width: 50%;
    text-align: end;
    margin: 3rem;
    margin-top: 4rem;
}
.topnav-right a {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.logo-acme {
    margin-left: 5rem;
    margin-top: 3rem;
    height: 4.5rem;
}
//____________________________________________________________________ID'S__//
#shoppingcart {
    background-color: #EE5F46;
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
}

